/*
 * Estilos de tu proyecto
 */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
}
*:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
/*------------------Estilos para barra de navegacion------------------*/
.bar-nav {
    margin: 0;
    padding: 20px;
    position: fixed;
    height: 110px;
    font-weight: 700;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #2c3e50; 
    top: 0;
    z-index: 1030;
    width: 100%; 

}

.bar-title a {
    margin-left: 124px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 20px;
}
.menu-down li:hover{
    color: white;
    border: solid 2px #18bc9c;
    border-radius: 5px;
    background-color: #18bc9c;
}
span {
    font-size: 32px;
}
a {
    cursor: auto; 
}
ul {
    padding-left: 900px;
    padding-top: 5px;
}
ul li {
    letter-spacing: 1px;
    display: inline-block;
}
li {
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;   
}
li a {
    color: #fff;
    text-decoration: none;  
}
/*-----------------------------Estilos para header-----------------------*/
header.masthead {
    padding-top: 200px;
    padding-bottom: 100px;
    background: #18bc9c;
}
figure {
    max-width: 100%;
    height: auto;
}
.masthead-image img {
    display: block;
    margin: 0 auto 20px;
}
.masthead-text {
    font-size: 2.5em;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    color: #fff;
}
div p {
    font-size: 28px;
}
/*---------------------Estilos para la linea con estrella-----------------*/
.line-star hr{
    color: #fff;
    max-width: 250px;
    margin: 25px auto 30px;
    /* padding: 0; */
    text-align: center;
    border: none;
    border-top: solid 5px;
    
}
.masthead-text .line-star i{
    background-color: #18bc9c;
    text-align: center;
    font-size: 1em;
    position: relative;
    top: -50px;
    display: inline-block;
    padding: 0 5px;
    border: none;
}
section .line-star hr{
    color: black;
    max-width: 250px;
    margin: 25px auto 30px;
    /* padding: 0; */
    text-align: center;
    border: none;
    border-top: solid 5px;
    
}
section .line-star i{
    background-color: white;
    text-align: center;
    font-size: 32px;
    position: relative;
    top: -50px;
    display: inline-block;
    padding: 0 5px;
    border: none;
    margin-left: 48%;}
/*---------------------Estilos para section-----------------*/
section{
    padding: 100px 0;
    
}
h2{
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
}
/*---------------------Estilos para section:Portafolio-----------------*/
#portafolio{
    background-color: white;
}
div .img-fluid {
    width: 350px;
    height: 250px;
}
.portafolio-content {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3; 
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    margin: 0 0 30px;
}
div .img-fluid:hover{
   background: rgba(24,188,156,.9);
    opacity: 1;
}
/*---------------------Estilos para section:About-----------------*/
#about {
    background: #18bc9c;
}
#about h2, p {
    color: white;
}
#about .line-star hr{
    color: white;
    max-width: 250px;
    margin: 25px auto 30px;
    /* padding: 0; */
    text-align: center;
    border: none;
    border-top: solid 5px;
    
}
#about .line-star i{
    background-color: #18bc9c;
    color: white;
    text-align: center;
    font-size: 32px;
    position: relative;
    top: -50px;
    display: inline-block;
    padding: 0 5px;
    border: none;
    margin-left: 48%;
}
.about-content {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
    column-gap: 10;
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}
.about-content p{
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}
.col-l{
    float: left;
}
.col-r{
    float: right;
}
.col-c{
    display: block;
    text-align: center;
}

#about button{
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
    border: solid 2px #fff;
    /* background: 0 0; */
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
}
#about button:hover{
    color: #18bc9c;
    border: solid 2px #18bc9c;

    background-color: white;
}
/*---------------------Estilos para section:Contact-----------------*/

#contact{
    background-color: white;
}

.contact-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-group label, .form-group input, .form-group textarea {
    font-size: 1.5em;
    border: none;
    display: inline-block;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
div .form-group input, textarea{
    border-bottom: 1px solid #eee;
    width: 900px; 
}

#contact div button{
    font-size: 20px;
    margin-top: 15px;
    /* background: 0 0; */
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: solid 2px #18bc9c;
    margin-left: 20%;
    background-color: #18bc9c;
}
#contact div button:hover {
    color: #fff;
    border-color: #11866f;
    background-color: #128f76;
}
#contact div button:active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
/*---------------------Estilos para footer-----------------*/
footer {
    color:white;
    text-align: center!important;
}
.footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}
.footer-above .rows {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    display: block;
    
}
.footer-above .footer-col {
    column-gap: 5;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    
    float: left;
}

.footer-above p{
    font-size: 20px;
    margin: 10px;
    text-align: center;
    
}
.footer-below {
    padding: 25px 0;
    background-color: #2c3e50;
}
.footer-below p{
    font-size: 20px;
    margin: 10px;
}
h3{
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
}













