/*
 * Estilos de tu proyecto
 */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
}
*:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
/*
 * Estilos para barra de navegacion
 */
.bar-nav {
    margin: 0;
    padding: 20px;
    position: fixed;
    height: 110px;
    font-weight: 700;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #2c3e50; 
    top: 0;
    z-index: 1030;
    width: 100%; 

}

.bar-title a {
    margin-left: 124px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 20px;
}
span {
    font-size: 32px;
}
a {
    cursor: auto; 
}
ul {
    padding-left: 900px;
    padding-top: 5px;
}
ul li {
    letter-spacing: 1px;
    display: inline-block;
}
li {
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;   
}
li a {
    color: #fff;
    text-decoration: none;  
}

header.masthead {
    padding-top: 200px;
    padding-bottom: 100px;
    background: #18bc9c;
}


figure {
    max-width: 100%;
    height: auto;
}
img {
    display: block;
    margin: 0 auto 20px;
    vertical-align: middle;
    border-style: none;
}
.masthead-text {
    font-size: 2.5em;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    color: #fff;
}
h1 {
    
}
p {
    font-size: 1.75em;
    font-weight: 300;
}


